<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".g.cs" #>
<#
#nullable enable
var testCases = new (string, string, string?, string?)[]
{
    ("nop"           , "Nop"           , null, null),
    ("break"         , "Break"         , null, null),
    ("ldarg.0"       , "Ldarg_0"       , null, null),
    ("ldarg.1"       , "Ldarg_1"       , null, null),
    ("ldarg.2"       , "Ldarg_2"       , null, null),
    ("ldarg.3"       , "Ldarg_3"       , null, null),
    ("ldloc.0"       , "Ldloc_0"       , null, null),
    ("ldloc.1"       , "Ldloc_1"       , null, null),
    ("ldloc.2"       , "Ldloc_2"       , null, null),
    ("ldloc.3"       , "Ldloc_3"       , null, null),
    ("stloc.0"       , "Stloc_0"       , null, null),
    ("stloc.1"       , "Stloc_1"       , null, null),
    ("stloc.2"       , "Stloc_2"       , null, null),
    ("stloc.3"       , "Stloc_3"       , null, null),
    ("ldarg.s"       , "Ldarg_S"       , "byte.MaxValue", "byte.MaxValue"),
    ("ldarga.s"      , "Ldarga_S"      , "byte.MaxValue", "byte.MaxValue"),
    ("starg.s"       , "Starg_S"       , "byte.MaxValue", "byte.MaxValue"),
    ("ldloc.s"       , "Ldloc_S"       , "byte.MaxValue", "byte.MaxValue"),
    ("ldloca.s"      , "Ldloca_S"      , "byte.MaxValue", "byte.MaxValue"),
    ("stloc.s"       , "Stloc_S"       , "byte.MaxValue", "byte.MaxValue"),
    ("ldnull"        , "Ldnull"        , null, null),
    ("ldc.i4.m1"     , "Ldc_I4_M1"     , null, null),
    ("ldc.i4.0"      , "Ldc_I4_0"      , null, null),
    ("ldc.i4.1"      , "Ldc_I4_1"      , null, null),
    ("ldc.i4.2"      , "Ldc_I4_2"      , null, null),
    ("ldc.i4.3"      , "Ldc_I4_3"      , null, null),
    ("ldc.i4.4"      , "Ldc_I4_4"      , null, null),
    ("ldc.i4.5"      , "Ldc_I4_5"      , null, null),
    ("ldc.i4.6"      , "Ldc_I4_6"      , null, null),
    ("ldc.i4.7"      , "Ldc_I4_7"      , null, null),
    ("ldc.i4.8"      , "Ldc_I4_8"      , null, null),
    ("ldc.i4.s"      , "Ldc_I4_S"      , "sbyte.MaxValue" , "sbyte.MaxValue" ),
    ("ldc.i4"        , "Ldc_I4"        , "int.MaxValue"   , "int.MaxValue"   ),
    ("ldc.i8"        , "Ldc_I8"        , "long.MaxValue"  , "long.MaxValue"  ),
    ("ldc.r4"        , "Ldc_R4"        , "float.MaxValue" , "float.MaxValue" ),
    ("ldc.r8"        , "Ldc_R8"        , "double.MaxValue", "double.MaxValue"),
    ("dup"           , "Dup"           , null, null),
    ("pop"           , "Pop"           , null, null),
    ("jmp"           , "Jmp"           , "MockType.MethodInfo", "MockType.MethodInfo"),
    ("call"          , "Call"          , "MockType.MethodInfo", "MockType.MethodInfo"),
//  ("calli"         , "Calli"         , "InlineSig", "InlineSig"),
    ("ret"           , "Ret"           , null, null),
//  ("br.s"          , "Br_S"          , null, null),
//  ("brfalse.s"     , "Brfalse_S"     , null, null),
//  ("brtrue.s"      , "Brtrue_S"      , null, null),
//  ("beq.s"         , "Beq_S"         , null, null),
//  ("bge.s"         , "Bge_S"         , null, null),
//  ("bgt.s"         , "Bgt_S"         , null, null),
//  ("ble.s"         , "Ble_S"         , null, null),
//  ("blt.s"         , "Blt_S"         , null, null),
//  ("bne.un.s"      , "Bne_Un_S"      , null, null),
//  ("bge.un.s"      , "Bge_Un_S"      , null, null),
//  ("bgt.un.s"      , "Bgt_Un_S"      , null, null),
//  ("ble.un.s"      , "Ble_Un_S"      , null, null),
//  ("blt.un.s"      , "Blt_Un_S"      , null, null),
//  ("br"            , "Br"            , null, null),
//  ("brfalse"       , "Brfalse"       , null, null),
//  ("brtrue"        , "Brtrue"        , null, null),
//  ("beq"           , "Beq"           , null, null),
//  ("bge"           , "Bge"           , null, null),
//  ("bgt"           , "Bgt"           , null, null),
//  ("ble"           , "Ble"           , null, null),
//  ("blt"           , "Blt"           , null, null),
//  ("bne.un"        , "Bne_Un"        , null, null),
//  ("bge.un"        , "Bge_Un"        , null, null),
//  ("bgt.un"        , "Bgt_Un"        , null, null),
//  ("ble.un"        , "Ble_Un"        , null, null),
//  ("blt.un"        , "Blt_Un"        , null, null),
//  ("switch"        , "Switch"        , null, null),
    ("ldind.i1"      , "Ldind_I1"      , null, null),
    ("ldind.u1"      , "Ldind_U1"      , null, null),
    ("ldind.i2"      , "Ldind_I2"      , null, null),
    ("ldind.u2"      , "Ldind_U2"      , null, null),
    ("ldind.i4"      , "Ldind_I4"      , null, null),
    ("ldind.u4"      , "Ldind_U4"      , null, null),
    ("ldind.i8"      , "Ldind_I8"      , null, null),
    ("ldind.i"       , "Ldind_I"       , null, null),
    ("ldind.r4"      , "Ldind_R4"      , null, null),
    ("ldind.r8"      , "Ldind_R8"      , null, null),
    ("ldind.ref"     , "Ldind_Ref"     , null, null),
    ("stind.ref"     , "Stind_Ref"     , null, null),
    ("stind.i1"      , "Stind_I1"      , null, null),
    ("stind.i2"      , "Stind_I2"      , null, null),
    ("stind.i4"      , "Stind_I4"      , null, null),
    ("stind.i8"      , "Stind_I8"      , null, null),
    ("stind.r4"      , "Stind_R4"      , null, null),
    ("stind.r8"      , "Stind_R8"      , null, null),
    ("add"           , "Add"           , null, null),
    ("sub"           , "Sub"           , null, null),
    ("mul"           , "Mul"           , null, null),
    ("div"           , "Div"           , null, null),
    ("div.un"        , "Div_Un"        , null, null),
    ("rem"           , "Rem"           , null, null),
    ("rem.un"        , "Rem_Un"        , null, null),
    ("and"           , "And"           , null, null),
    ("or"            , "Or"            , null, null),
    ("xor"           , "Xor"           , null, null),
    ("shl"           , "Shl"           , null, null),
    ("shr"           , "Shr"           , null, null),
    ("shr.un"        , "Shr_Un"        , null, null),
    ("neg"           , "Neg"           , null, null),
    ("not"           , "Not"           , null, null),
    ("conv.i1"       , "Conv_I1"       , null, null),
    ("conv.i2"       , "Conv_I2"       , null, null),
    ("conv.i4"       , "Conv_I4"       , null, null),
    ("conv.i8"       , "Conv_I8"       , null, null),
    ("conv.r4"       , "Conv_R4"       , null, null),
    ("conv.r8"       , "Conv_R8"       , null, null),
    ("conv.u4"       , "Conv_U4"       , null, null),
    ("conv.u8"       , "Conv_U8"       , null, null),
    ("callvirt"      , "Callvirt"      , "MockType.MethodInfo", "MockType.MethodInfo"),
    ("cpobj"         , "Cpobj"         , "MockType.Type", "MockType.Type"),
    ("ldobj"         , "Ldobj"         , "MockType.Type", "MockType.Type"),
    ("ldstr"         , "Ldstr"         , "\"foobar\"", "\"foobar\""),
    ("newobj"        , "Newobj"        , "MockType.ConstructorInfo", "MockType.ConstructorInfo"),
    ("castclass"     , "Castclass"     , "MockType.Type", "MockType.Type"),
    ("isinst"        , "Isinst"        , "MockType.Type", "MockType.Type"),
    ("conv.r.un"     , "Conv_R_Un"     , null, null),
    ("unbox"         , "Unbox"         , "MockType.Type", "MockType.Type"),
    ("throw"         , "Throw"         , null, null),
    ("ldfld"         , "Ldfld"         , "MockType.InstanceFieldInfo", "MockType.InstanceFieldInfo"),
    ("ldflda"        , "Ldflda"        , "MockType.InstanceFieldInfo", "MockType.InstanceFieldInfo"),
    ("stfld"         , "Stfld"         , "MockType.InstanceFieldInfo", "MockType.InstanceFieldInfo"),
    ("ldsfld"        , "Ldsfld"        , "MockType.StaticFieldInfo", "MockType.StaticFieldInfo"),
    ("ldsflda"       , "Ldsflda"       , "MockType.StaticFieldInfo", "MockType.StaticFieldInfo"),
    ("stsfld"        , "Stsfld"        , "MockType.StaticFieldInfo", "MockType.StaticFieldInfo"),
    ("stobj"         , "Stobj"         , "MockType.Type", "MockType.Type"),
    ("conv.ovf.i1.un", "Conv_Ovf_I1_Un", null, null),
    ("conv.ovf.i2.un", "Conv_Ovf_I2_Un", null, null),
    ("conv.ovf.i4.un", "Conv_Ovf_I4_Un", null, null),
    ("conv.ovf.i8.un", "Conv_Ovf_I8_Un", null, null),
    ("conv.ovf.u1.un", "Conv_Ovf_U1_Un", null, null),
    ("conv.ovf.u2.un", "Conv_Ovf_U2_Un", null, null),
    ("conv.ovf.u4.un", "Conv_Ovf_U4_Un", null, null),
    ("conv.ovf.u8.un", "Conv_Ovf_U8_Un", null, null),
    ("conv.ovf.i.un" , "Conv_Ovf_I_Un" , null, null),
    ("conv.ovf.u.un" , "Conv_Ovf_U_Un" , null, null),
    ("box"           , "Box"           , "MockType.Type", "MockType.Type"),
    ("newarr"        , "Newarr"        , "MockType.Type", "MockType.Type"),
    ("ldlen"         , "Ldlen"         , null, null),
    ("ldelema"       , "Ldelema"       , "MockType.Type", "MockType.Type"),
    ("ldelem.i1"     , "Ldelem_I1"     , null, null),
    ("ldelem.u1"     , "Ldelem_U1"     , null, null),
    ("ldelem.i2"     , "Ldelem_I2"     , null, null),
    ("ldelem.u2"     , "Ldelem_U2"     , null, null),
    ("ldelem.i4"     , "Ldelem_I4"     , null, null),
    ("ldelem.u4"     , "Ldelem_U4"     , null, null),
    ("ldelem.i8"     , "Ldelem_I8"     , null, null),
    ("ldelem.i"      , "Ldelem_I"      , null, null),
    ("ldelem.r4"     , "Ldelem_R4"     , null, null),
    ("ldelem.r8"     , "Ldelem_R8"     , null, null),
    ("ldelem.ref"    , "Ldelem_Ref"    , null, null),
    ("stelem.i"      , "Stelem_I"      , null, null),
    ("stelem.i1"     , "Stelem_I1"     , null, null),
    ("stelem.i2"     , "Stelem_I2"     , null, null),
    ("stelem.i4"     , "Stelem_I4"     , null, null),
    ("stelem.i8"     , "Stelem_I8"     , null, null),
    ("stelem.r4"     , "Stelem_R4"     , null, null),
    ("stelem.r8"     , "Stelem_R8"     , null, null),
    ("stelem.ref"    , "Stelem_Ref"    , null, null),
    ("ldelem"        , "Ldelem"        , "MockType.Type", "MockType.Type"),
    ("stelem"        , "Stelem"        , "MockType.Type", "MockType.Type"),
    ("unbox.any"     , "Unbox_Any"     , "MockType.Type", "MockType.Type"),
    ("conv.ovf.i1"   , "Conv_Ovf_I1"   , null, null),
    ("conv.ovf.u1"   , "Conv_Ovf_U1"   , null, null),
    ("conv.ovf.i2"   , "Conv_Ovf_I2"   , null, null),
    ("conv.ovf.u2"   , "Conv_Ovf_U2"   , null, null),
    ("conv.ovf.i4"   , "Conv_Ovf_I4"   , null, null),
    ("conv.ovf.u4"   , "Conv_Ovf_U4"   , null, null),
    ("conv.ovf.i8"   , "Conv_Ovf_I8"   , null, null),
    ("conv.ovf.u8"   , "Conv_Ovf_U8"   , null, null),
    ("refanyval"     , "Refanyval"     , "MockType.Type", "MockType.Type"),
    ("ckfinite"      , "Ckfinite"      , null, null),
    ("mkrefany"      , "Mkrefany"      , "MockType.Type", "MockType.Type"),
//  ("ldtoken"       , "Ldtoken"       , "InlineTok", "InlineTok"),
    ("conv.u2"       , "Conv_U2"       , null, null),
    ("conv.u1"       , "Conv_U1"       , null, null),
    ("conv.i"        , "Conv_I"        , null, null),
    ("conv.ovf.i"    , "Conv_Ovf_I"    , null, null),
    ("conv.ovf.u"    , "Conv_Ovf_U"    , null, null),
    ("add.ovf"       , "Add_Ovf"       , null, null),
    ("add.ovf.un"    , "Add_Ovf_Un"    , null, null),
    ("mul.ovf"       , "Mul_Ovf"       , null, null),
    ("mul.ovf.un"    , "Mul_Ovf_Un"    , null, null),
    ("sub.ovf"       , "Sub_Ovf"       , null, null),
    ("sub.ovf.un"    , "Sub_Ovf_Un"    , null, null),
    ("endfinally"    , "Endfinally"    , null, null),
    // ("leave"         , "Leave"         , "InlineBrTarget", "InlineBrTarget"),
    // ("leave.s"       , "Leave_S"       , "ShortInlineBrTarget", "ShortInlineBrTarget"),
    ("stind.i"       , "Stind_I"       , null, null),
    ("conv.u"        , "Conv_U"        , null, null),
    ("arglist"       , "Arglist"       , null, null),
    ("ceq"           , "Ceq"           , null, null),
    ("cgt"           , "Cgt"           , null, null),
    ("cgt.un"        , "Cgt_Un"        , null, null),
    ("clt"           , "Clt"           , null, null),
    ("clt.un"        , "Clt_Un"        , null, null),
    ("ldftn"         , "Ldftn"         , "MockType.MethodInfo", "MockType.MethodInfo"),
    ("ldvirtftn"     , "Ldvirtftn"     , "MockType.MethodInfo", "MockType.MethodInfo"),
    ("ldarg"         , "Ldarg"         , "unchecked((short)ushort.MaxValue)", "ushort.MaxValue"),
    ("ldarga"        , "Ldarga"        , "unchecked((short)ushort.MaxValue)", "ushort.MaxValue"),
    ("starg"         , "Starg"         , "unchecked((short)ushort.MaxValue)", "ushort.MaxValue"),
    ("ldloc"         , "Ldloc"         , "unchecked((short)ushort.MaxValue)", "ushort.MaxValue"),
    ("ldloca"        , "Ldloca"        , "unchecked((short)ushort.MaxValue)", "ushort.MaxValue"),
    ("stloc"         , "Stloc"         , "unchecked((short)ushort.MaxValue)", "ushort.MaxValue"),
    ("localloc"      , "Localloc"      , null, null),
    ("endfilter"     , "Endfilter"     , null, null),
    ("unaligned."    , "Unaligned"     , "byte.MaxValue", "byte.MaxValue"),
    ("volatile."     , "Volatile"      , null, null),
    ("tail."         , "Tailcall"      , null, null),
    ("initobj"       , "Initobj"       , "MockType.Type", "MockType.Type"),
    ("constrained."  , "Constrained"   , "MockType.Type", "MockType.Type"),
    ("cpblk"         , "Cpblk"         , null, null),
    ("initblk"       , "Initblk"       , null, null),
    ("rethrow"       , "Rethrow"       , null, null),
    ("sizeof"        , "Sizeof"        , "MockType.Type", "MockType.Type"),
    ("refanytype"    , "Refanytype"    , null, null),
    ("readonly."     , "Readonly"      , null, null),
};
#>
// <auto-generated>
// THIS (.cs) FILE IS GENERATED BY T4. DO NOT CHANGE IT. CHANGE THE .tt FILE INSTEAD.
// </auto-generated>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Reflection.Emit;
using System.Text;
using Xunit;

namespace PowerEmit
{
    public partial class InstTest
    {
        [Theory]
        [MemberData(nameof(GetTestCases_Basic))]
        public void Emit_Basic(TestCase testCase)
            => EmitCore(testCase);


        public static IEnumerable<object[]> GetTestCases_Basic()
        {
<# foreach(var (lName, uName, expOperand, actOperand) in testCases) { #>
            yield return CreateTestCase("<#=lName#>",
                gen => <#=GetExpected(uName, expOperand)#>,
                gen => <#=GetActual(uName, actOperand)#>
                );

<# } #>
            yield break;
        }
    }
}
<#+
string GetExpected(string uName, string? operand)
    => operand is not null
        ? $"gen.Emit(OpCodes.{uName}, {operand})"
        : $"gen.Emit(OpCodes.{uName})";

string GetActual(string uName, string? operand)
    => $"gen.Emit(Inst.{uName}({operand}))";
#>